<h2 class="text-black Danger">SOMETHING WENT WRONG</h2>
<p>An unexpected error occured pleaase try again later.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go To Home </a>